<div class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 ">
    <a class="navbar-brand" href="#">Parking Smart</a>

    <!-- Mobile toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu items -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- Left-side Menus -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
        <li class="nav-item">
          <a class="nav-link active" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reports</a>
        </li>
      </ul>

      <!-- Right-side Elements -->
      <div class="d-flex align-items-center gap-3">
        <button class="btn btn-primary btn-sm">Entry Operator</button>
        <span class="text-white bg-success p-1 px-4 rounded">{{usersrv.loggedInData.fullName}}</span>

        <!-- Dropdown -->
        <div>
          <button class="btn btn-danger btn-sm" type="button" (click)="logoff()">
            Logout
          </button>
        </div>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>