<div class="receiver">
 <div class="displayFeild">
    <label>Name</label>
    <span>{{receiveObject.name}}</span>
 </div>
 <div class="displayFeild">
    <label>Age</label>
    <span>{{receiveObject.age}}</span>
 </div>
 <div class="displayFeild">
    <label>Gender</label>
    <span>{{receiveObject.gender}}</span>
 </div>
 <div class="displayFeild">
    <label>Payment Mode</label>
    <span>{{receiveObject.payment}}</span>
 </div>
 <div class="displayFeild">
    <label>Terms & Condition</label>
    <span>{{receiveObject.TermsCondition}}</span>
 </div>
</div>